@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.css";
@import "style.css";

:root {
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-blue-700: #2b6cb0;
  --color-blue-600: #0671a7;
  --color-blue-500: #1f7ba9;
  --color-blue-250: #6fb3d5;
  --color-blue-200: #63a4d8;
  --color-blue-100: #b3c6ff;
  --color-gray-850:#2f2f2f;
  --color-gray-700: #333333;
  --color-gray-600: #666666;
  --color-gray-400: #cccccc;
  --color-black-900: #1b1b1b;

  --color-text-primary: var(--color-black-900);
  --text-icon-social-media-sidebar: var(--color-gray-700);
  --text-icon-social-media-header: var(--color-blue-500);
  --text-icon-service: var(--color-blue-200);
  --text-icon-contact: var(--color-blue-200);
  --text-icon-contact-hover: var(--color-blue-500);
  --text-my-email: var(--color-blue-200);
  --text-home-title: var(--color-blue-500);
  --text-highlight: var(--color-blue-200);
  --text-profile-name-header: var(--color-blue-500);
  --text-profile-name-sidebar: var(--color-gray-850);
  --text-item-sidebar: var(--color-gray-700);
  --text-item-sidebar-hover: var(--color-blue-600);
  --text-social-media-hover: var(--color-gray-600);
  --text-job-title-card-resume: var(--color-gray-700);
  --text-title-service: var(--color-gray-700);
  --text-job-title-testimonial: #a0aec0;
  --text-icon-toast-error: var(--color-red);

  --background-application: #f0f4f8;
  --background-sidebar: var(--color-blue-200);
  --background-skills: var(--color-blue-200);
  --background-page-title: var(--color-blue-200);
  --background-cards: #f2f4f8;
  --background-hamburger-icon: var(--color-blue-500);
  --background-item-sidebar-hover: var(--color-blue-700);
  --background-button: var(--color-blue-200);
  --background-button-hover: var(--color-blue-500);
  --background-toast-success: var(--color-blue-500);
  --background-progress-error-toast: var(--color-red);

  --border-image: var(--color-gray-600);
  --border-cards: var(--color-gray-400);
  --border-email-box: var(--color-blue-100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}
h1 {
  font-weight: 600;
}
@layer utilities {
}

@layer components {
}

@layer components {
  .border-information {
    border-bottom: 3px solid rgba(160, 155, 147, 0.5);
  }

 
 
  
 
  .emailBox-input {
    @apply mt-1 w-full bg-[--color-white] text-[--color-text-primary] border-[1px] border-[--border-email-box] text-[1rem] rounded py-2 px-3 focus:border-[--color-blue-700] focus:outline-none;
  }
  .testimonial-swiper {
    .custom-pagination {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}

.poppins-regular {
  @apply font-poppins font-normal;
}
.poppins-medium {
  @apply font-poppins font-medium;
}
.poppins-semibold {
  @apply font-poppins font-semibold;
}
.poppins-bold {
  @apply font-poppins font-bold;
}
