@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.css";
@import "style.css";

:root {
  --color-primary: #2b6cb0;
  --color-primary-light: #5a9bd8;
  --color-secondary: #1a365d;
  --color-accent: #90b2e6;
  --color-teal: #5a7d7c;
  --color-green: #0fb2aa;

  --color-text-primary: #2d3748;
  --color-text-secondary: #ffffff;

  --color-background: #f0f4f8;
  --color-sidebar-bg: var(--color-primary);

  --color-border: #cbd5e0;
  --color-placeholder: #a0aec0;

  --color-white: #ffffff;

  --color-success: #805ad5;
  --color-error: #e53e3e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}
h1 {
  font-weight: 600;
}
@layer utilities {
  .border-information {
    border-bottom: 1px solid rgba(160, 155, 147, 0.5);
  }
}

@layer components {
}

@layer components {
  .navigation-sidebar {
    @apply flex flex-col w-full h-[60%] shrink justify-center;
  }
  .navigation-sidebar-item {
    @apply flex justify-center shrink w-full py-4 px-2 text-xl;
    color: var(--text-color-secondary);
    margin-bottom: 0.5rem;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .sidebar {
    background-color: var(--bg-sidebar);
  }

  .navigation-header {
    @apply flex flex-col w-full h-full items-start justify-start lg:hidden;
  }
  .navigation-header-item {
    @apply flex justify-start w-full p-4 text-xl;
    color: var(--text-color-secondary);
    background-color: var(--bg-header);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .navigation-header-item:hover {
    @apply text-[var(--color-white)];
    color: var(--color-white);
    color: red;
  }
  .navigation-header-item.active {
    background-color: red;
  }

  .page {
    @apply flex h-screen w-screen;
    color: var(--text-color-highlight);
  }
  .emailBox-input {
    @apply mt-1  w-full bg-[var(--color-white)] text-[var(--color-text-primary)] border-[1px] border-[var(--color-border)] text-[1rem]  rounded  py-2 px-3 focus:border-[var(--color-primary)]   focus:outline-none;
  }
}

.poppins-regular {
  @apply font-poppins font-normal;
}
.poppins-medium {
  @apply font-poppins font-medium;
}
.poppins-semibold {
  @apply font-poppins font-semibold;
}
.poppins-bold {
  @apply font-poppins font-bold;
}


