@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.css";
@import "style.css";

:root {
  --color-dark-blue: #002148;
  --color-deep-navy: #002B5C;
  --color-teal: #008080;
  --color-cyan: #00FFFF;

  --color-white: #FFFFFF;
  --color-light-gray: #D3D3D3;

  --bg-top-header: var(--color-dark-blue);
  --bg-dropdown: var(--color-deep-navy);
  --bg-sidebar: var(--color-dark-blue);
  
  --text-color-primary: var(--color-cyan);
  --text-color-secondary: var(--color-light-gray);
  --text-color-active: var(--color-white);
  --text-color-hover: var(--color-teal);

  --border-color-gray: #A9A9A9;

  --bg-active: var(--color-teal);
  --bg-hover: var(--color-deep-navy);
}
/* .header {
  
} */

/* .hamburger-icon, .social-media-icons {
  color: var(--text-color-secondary); 
}

.dropdown-menu {
  background-color: var(--bg-dropdown); 
  color: var(--text-color-primary); 
}
.dropdown-menu.active
{
  color: var(--text-color-active); 
  background-color: var(--bg-active); 
}

.menu-item {
  color: var(--text-color-secondary); 
}

.menu-item:hover {
  color: var(--text-color-hover); 
  background-color: var(--bg-hover);
} */




@layer components {
  .socialMediaIcon {
    font-size: 1.5rem;
    color: #aab1b8;
    margin-right: 12px;
  }
  .navigation-sidebar {
    @apply flex flex-col w-full items-center justify-start;
  }
  .navigation-sidebar-item{
    @apply flex justify-center w-full py-4 px-2 text-xl; 
    color: var(--text-color-secondary); 
  }
  .navigation-sidebar-item.active {
    
    color: var(--text-color-active); 
    background-color: var(--bg-active); 
  }
  .sidebar{
    background-color: var(--bg-sidebar)
  }
  

  .navigation-header{
    @apply flex flex-col w-full h-full items-start justify-start lg:hidden;
    
  }
  .navigation-header-item {
    @apply flex justify-start w-full p-4 text-xl opacity-95;
    color:var(--text-color-primary) ;
    background-color: var(--bg-dropdown);
  }
  .navigation-header-item:hover{
    @apply opacity-95;
    color: var(--text-color-hover);
  }
  .navigation-header-item.active{
    @apply  opacity-95;
    color:var(--text-color-secondary);
    background-color: var(--bg-top-header);

  }
  .navigation-header-item.active:hover{
    background-color: var(--bg-active);
    color:var(--text-color-active)
  }
  .page{
    @apply flex h-screen text-xl  ;
    color: var(--color-white);
  }

}

.poppins-regular {
  @apply font-poppins font-normal;
}
.poppins-medium {
  @apply font-poppins font-medium;
}
.poppins-semibold {
  @apply font-poppins font-semibold;
}
.poppins-bold {
  @apply font-poppins font-bold;
}

/* flex flex-col w-full items-center justify-start */
